/* Stylesheet for JavaFX windows */

/*---Orange and Blue Theme---*/

.root {
    -fx-background-image: url("/background2.jpg");
    -fx-background-size: cover;
    -fx-focus-color: transparent;
}

.progress-indicator .percentage {
    -fx-fill:null;
}

@font-face {
    -fx-font-family: 'Chewy';
    src: url('/Chewy.ttf');
}

/*--Nodes--*/

.button{
	-fx-font-family: 'Chewy';
    -fx-background-color:
    linear-gradient( #fee6b9, #fdde96),
    radial-gradient(center 50% -40%, radius 200%, #eb7900 45%, #bd6100 50%);
    -fx-background-radius: 20, 20;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: white;
}

.check-box {
    -fx-text-fill: white;
    -fx-effect: dropshadow( one-pass-box , black , 0 , 1.0 , 2 , 2 );
}

.label {
	-fx-font-family: 'Chewy';
    -fx-text-fill: white;
    -fx-effect: dropshadow( one-pass-box , black , 0 , 1.0 , 1 , 1 );
}

.radio-button{
	-fx-text-fill: white;
	-fx-effect: dropshadow( one-pass-box , black , 0 , 1.0 , 2 , 2 );
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
   -fx-focus-color: transparent;
}

/*Keeps the words in the Quiz games centered*/
#_queryListView .list-cell {
    -fx-alignment: center;
}

#_videoTableList .table-cell {
	-fx-alignment: center;
}


/*Remove the horizontal scroll-bar*/
.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-shape: null;
}

/* Format the vertical scrollbar*/
.scroll-bar:vertical *.increment-arrow,
.scroll-bar:vertical *.decrement-arrow,
.scroll-bar:vertical .thumb {
  -fx-background-color: #eb7900;
}

/*Display black for placeholders in the TableView*/
#_blackText {
	/*Default values */
	-fx-text-fill: black;
	-fx-effect: dropshadow( one-pass-box , black , 0 , 0.0 , 0 , 0 );
} 
